src/**/*.{ts,tsx,vue}
/dist/*
/html/*
/public/*
/preload/*
/src/utils/ipc.ts
/src/utils/preloadUtils.ts
src/types/utools.d.ts
src/vite-env.d.ts
src/env.d.ts
src/assets
src/libs
*.json
eslint.config.js
postcss.config.js
tailwind.config.js
